body {
    font-family: Arial, sans-serif;
    color: #FFBE02;
    text-shadow: black;
    margin: 0px;
    padding: 0px;
}
.title{
    background-color: black;
    text-align: center;
}
.logo{
    text-align: center;
}
.logo img{
    width: 450px;
    height: auto;
}
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #FFBE02;
    border-radius: 15px;
    background-color: black;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #FFBE02;
    font-size: 20px;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: white;
}